.App {
  text-align: center;
}

.navigation {
  font-family: "Chakra Petch", sans-serif;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  justify-items: flex-end;
  align-items: center;
  margin-bottom: 16px;
  background: #a6b0f9;
}

li {
  list-style: none;
}

.link {
  padding: 22px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link:hover {
  background: #c4f982;
  border-radius: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
